.post {
  // background-color: var(--background-color-contentLight);
  // border: var(--background-color-contentLarge) 1px solid;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 20px;

  .post_content {
    width: 640px;
    min-height: 400px;
    background-color: white;
    // border: 1px solid black;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    // margin-top: 20px;
    // margin-bottom: 20px;

    .author {
      display: flex;
      flex-direction: column;
      .theme {
        display: flex;
        align-items: center;
        .icon {
          height: 25px;
          width: 25px;
          border-radius: 17px;
          align-self: center;
        }
      }
    }
    .content {
      // display: flex;
      // flex-direction: column;
      // gap: 10px;
      // h2, h3 {
      //   font-weight: 550;
      // }
      img {
        width: 600px;
        height: 400px;
        object-fit: contain;
        // border: 1px solid black;
        border-radius: 10px;
        background-color: rgb(237, 237, 237);
      }
    }
    .icon_panel {
      display: flex;
      flex-direction: row; 
      justify-content: space-between;
      div {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
      }
    }
  }
  
}
