.posts_list {
  // background-color: var(--background-color-contentLight);
  // border: var(--background-color-contentLarge) 1px solid;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 20px;

//   .post_theme {
//     width: 640px;
//     min-height: 260px;
//     background-color: white;
//     // border: 1px solid black;
//     border-radius: 15px;
//     display: flex;
//     flex-direction: column;
//     gap: 10px;
//     position: relative;

//     .color1 {
//       width: 640px;
//       height: 130px;
//       background-color: rgb(255, 170, 184); 
//       border-top-right-radius: 15px;
//       border-top-left-radius: 15px;
//     }
//     .color2 {
//         width: 640px;
//         height: 130px;
//         background-color: #90fd37;
//         border-top-right-radius: 15px;
//         border-top-left-radius: 15px;
//       }

//     .theme {
//       width: 640px;
//       height: 130px;
//       display: flex;
//       flex-direction: column;
//       justify-content: start;
//       padding: 20px;
//       padding-top: 40px;
//       gap: 10px;
//       .name {
//         font-size: 22px;
//         font-weight: 700;
//       }
//       .icon {
//         height: 90px;
//         width: 90px;
//         border-radius: 45px;
//         align-self: center;
//         position: absolute;
//         top: 85px;
//         left: 20px;
//       }
//     }
//   }
}
