.container_edit_post {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  // background-color: rgb(237, 237, 237);
  background-color: rgb(205, 205, 205);
  .title_admin {
    font-size: 20px;
    position: sticky;
    top: 60px;
    padding-left: 20px;
    height: 70px;
    padding-top: 30px;
    background-color: rgb(205, 205, 205);
    z-index: 1;
  }

  .post_list {
    display: flex;
    flex-direction: column;
    // min-width: 700px;
    // width: auto;
    //чтобы автоматически подстроить ширину элемента под размер его содержимого
    //нужно ширину устанавливать через width: fit-content
    width: fit-content;
    min-height: 50px;
    font-size: 17px;
    border: 1px solid rgb(185, 185, 185);
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    margin-top: 0;
    padding-top: 60px;

    .header_edit_post {
      height: 60px;
      // min-width: 700px;
      // width: auto;
      // width: fit-content;
      // min-width: 700px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding-left: 15px;
      padding-right: 15px;
      gap: 15px;
      position: fixed;
      top: 131px;
      background-color: rgb(205, 205, 205);
      // background-color: red;
      border-bottom: 1px solid rgb(185, 185, 185);
      .header_position {
        width: 220px;
      }
    }
    ul {
      padding: 0;
      margin: 0;
      min-height: 50px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      // gap: 15px;
      li {
        display: flex;
        align-items: center;
        padding-left: 15px;
        padding-right: 15px;
        gap: 15px;
        min-height: 50px;

        border-bottom: 1px solid rgb(185, 185, 185);
        background-color: rgb(220, 220, 220);
        .position {
          width: 220px;
          min-height: 50px;
          display: flex;
          justify-content: flex-start;
          align-items: center;
        }
      }
      
    }
  }
}
.icon_admin {
  height: 22px;
  width: 22px;
  cursor: pointer;
  &:hover {
    color: rgb(185, 185, 185);
  }
}