.header {
  height: 60px;
  width: 100%;
  background-color: rgb(255, 225, 230);
  border-bottom: 1px solid rgb(254, 115, 138);
  display: flex;
  flex-direction: row;
  padding-left: 130px;
  font-size: 20px;
  font-weight: 500;
  position: sticky;
  top: 0;
  z-index: 10;

  @media (max-width: 1035px) {
    padding-left: 0;
   }
  .logo {
    position: absolute;
    left: 157px;
    @media (max-width: 1035px) {
      left: 27px;
     }
  }
  .header_container {
    width: 1250px;
    // border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    // padding-left: 157px;
    @media (max-width: 1035px) {
      width: 860px;
   }
    .login {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 10px;
      cursor: pointer;
      height: 40px;
      width: 130px;
      border: 1px solid rgb(254, 115, 138);
      border-radius: 20px;
      &:hover {
        background-color: rgb(255, 170, 184); 
      }
    }
    .logout {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      height: 40px;
      width: 80px;
      border: 1px solid rgb(254, 115, 138);
      border-radius: 20px;
      &:hover {
        background-color:  rgb(255, 170, 184); 
      }
    }
    .chat {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      height: 40px;
      width: 80px;
      border: 1px solid rgb(254, 115, 138);
      border-radius: 20px;
      &:hover {
        background-color: rgb(255, 170, 184); 
      }
    }
    .icon_search {
      cursor: pointer;
    }
    .user {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      height: 40px;
      width: 40px;
      border: 1px solid rgb(254, 115, 138);
      border-radius: 20px;
      &:hover {
        background-color: rgb(255, 170, 184); 
      }
      .img {
        height: 40px;
        width: 40px;
        border-radius: 20px;
        align-self: center;
      }
    }
  }
}
